<%= render partial: "shared/page_header", locals: { title: '事業内容' } %>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="sticky-menu">
        <ul class="list-inline">
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('about1')">
              <i class="fa fa-angle-right"></i>
              代表挨拶</a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('about2')">
              <i class="fa fa-angle-right"></i>
              会社概要</a>
          </li>

          <li>
            <a href="javascript:void(0)" onclick="scrollToID('about3')">
              <i class="fa fa-angle-right"></i>
              社是・経営理念</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-12">
      <div class="about-wrapper">
        <div data-aos="fade-up" id="about1" class="clearfix">
          <div class="info-title">
            <h2>代表挨拶</h2>
          </div>
          <div>
            <div>
              <p>
                <%= image_tag "about-1.jpg", class: "alignright", height: "230px", sizes: "(max-width: 430px) 100vw, 430px" %>
                株式会社J-VCONNECTIONのホームページを閲覧いただきましてありがとうございます。<br>

                私は、２０１5年にフォンドン大学の日本語
                学科を卒業後、幸いにも直ぐに今働いている
                日本企業へ採用して頂く機会を得て今に
                至っております
                日本に職を得て、実際に来日して働いて見ると、
                日本は想像以上に文化的で成熟した社会を実現
                していると実感しました。
              </p>
              <p>どの国にも解決すべき課題は色々と有りますが、
                日本は少子高齢化社会の真っただ中にあり、
                将来的に益々若い労働力が不足をして行く課題を
                何とか解決すべきだと、常々就職先の社長から
                聴かされています。</p>

              <p>
                　一方のベトナムは、政令で毎年最低賃金の見直しはありますが、きちんとした会社の正社員としての職を
                得てまともに給料を貰っている人ばかりではなく、多くの若くて優秀な大学を卒業した人材であっても、
                希望する会社や職種に就職ができない場合が多くあります。
              </p>
              <p>働く意欲を強く持っていて、平均年齢32歳の若くて真面目で優秀な人材、ベトナムにはそんな求職者が溢れています。<br>
                両国の現実を目の当たりにして、少子高齢化社会の日本が必要とする真面目で若くて優秀な人材の確保にわずかでも
                貢献したいとの思いが、私の起業の動機です。</p>
              <p>
                私は、同じベトナム人の若くて優秀な人材を探し出せるリクルートネットワークを比較的容易に構築できると確信しています。<br>
                同時に、日本に就職を希望する人材に対しては、同国人として、面談などを通じてその人の人間性、熱意、真面目さ、能力、
                育った家庭環境などに基づいて、適正かつ厳しく審査・評価ができると思います。<br>
                　就職の機会を得たベトナム人就労者は、日本企業の期待に応える働きを行うとことで会社経営者の満足を実現し、自らは真面目な
                日々の仕事に基づく適正な対価を得ることで豊かな人生を送ることができます。</p>
              <p>その様な日本とベトナムの両国の課題解決に、両国間の懸け橋となって微力ながら貢献したいと思っています。<br>
                どうぞよろしくお願い申し上げます。</p>
              <p>株式会社J-VCONNECTION　　　代表取締役　グェン・ティ・ガー　</p>
            </div>
          </div>
        </div>
        <div class="clearfix" id="about2">
          <div class="info-title">
            <h2>会社概要</h2>
          </div>
          <div class="info-wrapper">
            <label class="lbl-about-us">社名</label>
            <h4 class="company-name">
              株式会社　J-V CONNECTION
              <p class="mb0">ジャパン・ベトナム　コネクション</p>
            </h4>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">住所</label>
            <h5>
              兵庫県神戸市兵庫区大開通１０丁目２－１６　初阪第一ビル3階
            </h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">TEL / FAX</label>
            <h5>
              <%= Settings.company_info.mobile_phone %>
            </h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">Email</label>
            <h5>
              <%= Settings.company_info.email %>
            </h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">設立</label>
            <h5>2019年1月29日</h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">資本金</label>
            <h5>500万</h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">代表者</label>
            <h5>グェン・ティ・ガー</h5>
          </div>

          <div class="info-wrapper multiple">
            <label class="lbl-about-us">主な事業の内容</label>
            <ul>
              <li><i class="fa fa-check-circle"></i> 海外人材を対象とした有料職業紹介事業 </li>
              <li><i class="fa fa-check-circle"></i> 海外にわたる職業紹介事業</li>
              <li><i class="fa fa-check-circle"></i> 貿易</li>
              <li><i class="fa fa-check-circle"></i> 不動産の売買、賃貸、仲介、管理</li>
              <li><i class="fa fa-check-circle"></i> 翻訳・通訳業務</li>
            </ul>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">言語対応</label>
            <h5>
              日本語・ベトナム語・英語
            </h5>
          </div>

          <div class="info-wrapper">
            <label class="lbl-about-us">許可番号</label>
            <h5>
              有料職業紹介事業許可番号：２８－ユー300894
            </h5>
          </div>
        </div>

        <div class="info-icon clearfix" id="about3">
          <div class="info-title">
            <h2>社是・経営理念</h2>
            <div class="content-wrapper">
              <h5>社是</h5>

              <div class="d-flex info-icon mb50">
                <div class="content">
                  <%= image_tag("customer.png", :alt => "お客様は第一") %>
                  <p class="mb0">お客様は第一</p>
                </div>
                <div class="content">
                  <%= image_tag("people.png", :alt => "人は発展の中心") %>
                  <p class="mb0">人は発展の中心</p>
                </div>
                <div class="content">
                  <%= image_tag("handshake.png", :alt => "win-win") %>
                  <p class="mb0">WIN - WIN</p>
                </div>
              </div>

              <h5>経営理念</h5>
              <p class="mb0">－　お客様の信頼で人類・社会の発展に貢献します。</p>
            </div>
          </div>
        </div>

        <div class="info-manager">
          <div class="info-title">
            <h2 class="mb0">ビジョン</h2>
          </div>
          <div class="d-flex info-image" data-aos="fade-up">
            <div class="bg-image"></div>
            <div class="content">
              <p class="mb0">
                日本とベトナムのかけ橋を目指し、日本のお客様から株式会社J-VCONNECTIONが「信頼のパートナー」であるとの高い評価を獲得する決意で、日本とベトナムの友好関係を発展させるために精一杯貢献します。
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
