<!-- <%= render "layouts/slider", slider_images: @slider_images %> -->
<%= image_tag @slider_image.url.url, class: "owl-carousel slider-image" %>

<section data-aos="fade-up">
    <div class="container">
        <%= render "shared/banner" %>
    </div>
</section>

<section class="gf-jobs" data-aos="fade-up">
     <div class="container">
         <%= render partial: "shared/pagetitle", locals: { pagetitle: '求人情報一覧' } %>
         <%= render partial: "jobs/job_item", locals: {jobs: @jobs} %>
        <div class="text-center mt30">
            <%= link_to t(".btn_all_job"), jobs_path, class: "button" %>
        </div>
    </div>
</section>

<section class="gf-messages" data-aos="fade-up">
        <%= render "message" %>
</section>

<section data-aos="fade-up" class="post-wrapper mt30">
        <%= render partial: "shared/pagetitle", locals: { pagetitle: 'ジャパン・ベトナム　コネクションからのお知らせ' } %>
    <div class="container">
        <div class="row">
            <%= render partial: "shared/post", locals: {posts: @posts} %>
        </div>
    </div>
</section>

<%= render "shared/contact_form" %>
