<%= render partial: "shared/page_header", locals: { title: '実習生' } %>

<div class="container mt50" data-aos="fade-up">
  <div class="about-wrapper">
    <div data-aos="fade-up">
      <h4 class="accent-color">外国人技能実習制度とは</h4>
      <p>
        外国人技能実習制度は、我が国で培われた技能、技術又は知識の開発途上地域等への移転を図り、
        当該開発途上地域等の経済発展を担う「人づくり」に寄与することを目的として創設された制度です。 <br>
        一般的に受け入れ可能職種に該当する企業様は、当組合のような監理団体を通じて技能実習生を受け
        入れる事が出来ます。実習生は、実習実施者（受入れ企業様）と雇用関係を結び、
        実践的な能力を高めるために3年間の技能実習に入ります。</p>
      <h4 class="accent-color">受け入れの仕組み</h4>
      <%= image_tag "intern-1.png" %>
      <h4 class="mt30 accent-color">技能実習生の特徴</h4>
      <div class="d-flex align-items-center">
        <p class="col-md-6 col-12">
          素直で真面目、若く物覚えも早いことが特長です。<br>
          彼らは何事にも真摯に取り組みます。<br> そんな実習
          生の姿は、同年代の若い社員にとって発奮材料にな
          るだけでなく、ベテラン社員にも「自分の若い頃の
          日本人を見ているようで、一緒に働くのが楽しい！」
          などと、よい影響を与えます。 彼らの多くは、御社で
          技術を習得して未来につなげたい一心で実習に打ち込み、
          成果を上げ、受け入れた企業様から高評価を得ております。
        </p>
        <%= image_tag "intern-2.png", class: "col-md-6 col-12"%>
        </p>
      </div>

      <h4 class="mt30 accent-color">入国から帰国までの3年間（5年間）</h4>
      <%= image_tag "intern-3.png" %>
    </div>
  </div>
</div>
<%= render "/shared/contact_us" %>
