<%= render partial: "shared/page_header", locals: { title: '事業内容' } %>

<div class="container mt50">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="sticky-menu">
        <ul class="list-inline">
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail1')">
              <i class="fa fa-angle-right"></i>
              有料職業紹介事業</a>
              <ul class="sub-menu list-inline">
                <li>
                  <a href="javascript:void(0)" onclick="scrollToID('content1')">弊社のポイン</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToID('content2')">紹介手数料</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToID('content3')">サービス対応地域 </a></li>
              </ul>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail2')">
              <i class="fa fa-angle-right"></i>
              翻訳・通訳業務</a>
            <ul class="sub-menu list-inline">
                <li><a href="javascript:void(0)" onclick="scrollToID('content4')">翻訳</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToID('content5')">通訳</a></li>
              </ul>
          </li>

          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail3')">
              <i class="fa fa-angle-right"></i>
              不動産の売買、賃貸、仲介、管理</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-12">
      <div class="about-wrapper">

        <blockquote class="text-center mt40">
          Ｊ－Ｖ　ＣＯＮＮＥＣＴＩＯＮは、ベトナム人技術者紹介　・　日越貿易　・　ベトナム進出コンサルティング・不動産を請け負っております。<br>
          ベトナムに関連会社・日本語学校を持っているので豊富な人材や経験があります。
        </blockquote>
        <div id="jobDetail1" class="clearfix">
          <div class="info-title">
            <h2>有料職業紹介事業
            </h2>
          </div>
          <div class="info-wrapper">
            <div>
              <div class="content">
                <ul class="list-inline">
                  <li>□　人材が集まらない</li>
                  <li>□　採用してもすぐに辞めてしまう</li>
                  <li>□　外国人を採用したいが、どうしたらいいのか分からない</li>
                </ul>

                <p>
                  このようなお悩みをお持ちの事業者様に、私たちは日本語が話せるベトナム系のエンジニア等をご紹介しております。人材の選定・紹介から <br>
                  就労ビザの取得、採用手続き、採用後のサーポートまで経験豊富なJ-V CONNECTIONにお任せてください
                </p>

                <h4 class="accent-color" id="content1">弊社のポイント</h4>

                <p class="content-box">
                  紹介だけではなく、入社してからもサーポットしておりますので、ご安心できます。<br>
                  手数料は、人材の採用が決定した段階で手数料をいただくシステムです。<br>
                  ご依頼いただく時点では、料金は発生しません
                  初期の面接はJ –V CONNECTIONで行い、人選いたします。<br>
                  お客様はニーズに合った人材のみと面談ができるので、採用業務が軽減されます。<br>
                  自社採用前にインターンシップで一定期間、能力を適正を見定めることができます。<br>
                </p>

                <div class="col-md-12">
                    <%= image_tag "home/1.png" %>
                </div>

                <p class="ml15 mt30 danger-color">来日前にしっかり日本語、日本の文化、ビジネススキル、ソフトスキルを勉強してもらいます</p>
                  
                <div class="image-content d-flex">
                  <div class="col-md-4">
                    <%= image_tag "home/4.jpg" %>
                  </div>

                  <div class="col-md-4">
                    <%= image_tag "home/5.jpg" %>
                  </div>
                  
                  <div class="col-md-4">
                    <%= image_tag "home/6.jpg" %>
                  </div>
                </div>

                <p class="ml15 mt30 danger-color">自社採用前にインターンシップで一定期間、能力を適正を見定めます。</p>
              </div>
            </div>
          </div>
          <h4 class="accent-color" id="content2">技術者料金</h4>

          <div class="d-flex flex-wrap">
            <div class="content-left col-12 col-md-6 mb20">
              <span>
                申込費
              </span>
              <span>協賛費用</span>
              <p><span>管理費</span>０円</p>
            </div>
            <div class="content-right col-12 col-md-6 mb20">
              <span>
                紹介料
              </span>
              <p>基本給料　１，５　～　２ヶ月分</p>
            </div>
          </div>
          <div>
            <div>
              <p>人材紹介成約後の雇用条件に関しては、貴社の就業規則の準拠致します。（福利厚生、休日、残業代など）</p>
            </div>
            <div>
              <div class="content-box">
                <p>
                    初期費用：申込金　<strong>0</strong>円 <br>
                    ※現地での面接をご希望される場合の渡航費は別途必要となります。
                </p>

                <p>
                    人材紹介<br>
                    社員　<strong>基本給料：１，５カ月　～　２　ヶ月分</strong>　（ビザ申請手数料10万円）<br>
                    アルバイトは予定されいる<strong>基本給料1ヶ月分</strong>となります<br>
                    インターンシップは<strong>基本給料1ヶ月分</strong>　（管理費毎月2万円）
                </p>

                <p>
                    手数料については相談できますので、お気軽にお問い合わせください<br>
                    ※入社後3ヶ月以内に退職した場合、紹介手数料の100％を返金致します。<br>
                    ※入社後6か月以内に退職した場合は、紹介手数料の50％を返金致します<br>
                    ※会社理由による解雇・退職の場合は、紹介手数料の返金は致しません。<br>
                </p>
              </div>
            </div>
            <div>
              <h4 class="accent-color" id="content3">サービス対応地域</h4>
              <p>全国に人材紹介しております</p>
            </div>
          </div>
        </div>

        <div id="jobDetail2" class="clearfix">
          <div class="info-title">
            <h2>翻訳・通訳業務</h2>
            <h4 class="accent-color"  id="content4">翻訳</h4>

            <p>ご依頼の案件ごとにプロジェクトチームを結成。お見積もりから納品まで、迅速かつ丁寧な仕事を心がけます。</p>

            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td style="min-width: 150px">サービス内容</td>
                    <td>日本語⇔各外国語の翻訳、校正、リライト、ローカライゼーション</td>
                  </tr>
                  <tr>
                    <td>ジャンル</td>
                    <td>ビジネス一般文書(メール、案内状など)、ビジネス各専門分野の資料(プレゼン資料、マニュアルなど)、書籍、WEBコンテンツ、チラシ、パンフレット(会社案内、観光案内など)、

                      広告、看板・街頭表示、店頭表示、商品説明、飲食店メニュー</td>
                  </tr>

                  <tr>
                    <td>ファイル形式
                    </td>
                    <td>ご要望に応じます（通常はWord、Excel、Power Point）</td>
                  </tr>

                  <tr>
                    <td>納品までの流れ</td>
                    <td>お見積もり→受注→翻訳→テクニカルチェック（必要な場合のみ） →ネイティブチェック→最終チェック→納品</td>
                  </tr>

                  <tr>
                    <td>料金</td>
                    <td>原文1文字につき10円～。金額は内容や納期により異なりますので、お気軽にお問い合

                      わせください。なお、料金には翻訳料の他、チェック料も含みます。</td>
                  </tr>
                </tbody>
              </table>

              <h4 class="accent-color" id="content5">通訳</h4>

              <p>TPOをわきまえた、経験豊富なプロの通訳者が円滑なコミュニケーションのお手伝いをいたします。</p>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td style="min-width: 150px">サービス内容</td>
                      <td>アテンド、受付、商談、セミナー、観光ガイドなどの逐次または同時通訳</td>
                    </tr>
                    <tr>
                      <td>料金</td>
                      <td>金額は内容や時間により異なります。お気軽にお問い合わせください。</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="jobDetail3" class="clearfix">
          <div class="info-title">
            <h2>不動産の売買、賃貸、仲介、管理</h2>
          </div>

          <div>
            <div class="d-flex flex-wrap">
              <div class="col-12 col-md-5">
                <%= image_tag "job-detail-2.png", class: "alignright" %>
                <p class="text-center">
                  慣れない日本の生活を快適さの面から支える、外国人向けの賃貸物件（マン<br>

                  ション・アパート）特集！外国籍の方でも入居が可能な賃貸物件があります。<br>

                  短期～長期の留学でも快適な生活ができるよう、お部屋探しで周辺情報も<br>

                  しっかりチェックしておきましょう
                </p>
              </div>
              <div class="col-12 col-md-7">
                <h4 class="accent-color">
                  外国人の方向けの賃貸物件（マンション・アパート）のポイント
                </h4>

                <ul class="list-inline">
                  <li>
                    <h5 class="accent-color">
                      ①インターネットから外国人向け賃貸物件（マンション・アパート）情報を検索
                    </h5>
                    <p>
                      少し前までは店頭に行かなければ情報が手に入らなかった外国人向け賃貸物件。外国籍の<br>
                      入居者増加やインターネット普及の影響もあり、パソコンやスマホでも賃貸マンションや<br>
                      賃貸アパートを探せるようになりました。
                    </p>
                  </li>

                  <li>
                    <h5 class="accent-color">
                      ②審査はあるが協力的な会社も増加しており外国人向け賃貸を見つけやすい
                    </h5>

                    <p>
                      賃貸物件の契約を行う際には、入居審査が必要です。日本での賃貸契約に不慣れな外国人<br>
                      の方向けにサポート体制を整えている不動産会社もあるので相談してみましょう。<br>
                    </p>
                  </li>

                  <li>
                    <h5 class="accent-color">
                      ③外国語が堪能な大家さんがいる外国人向け賃貸物件も！
                    </h5>
                    <p>
                      不慣れな日本生活でも、何かあったときには頼りになる存在が必要です。賃貸物件によっ<br>
                      ては英語が話せる大家が常駐していたり、外国人をメインに入居者を募集していたりする<br>
                      場合もあるため、はじめての契約ならなるべく希望を伝えてみましょう。
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <%= render "/shared/contact_us"%>
    </div>
  </div>
</div>
