<%= render partial: "shared/page_header", locals: { title: t(".title") } %>
<div class="container mt50" data-aos="fade-up">
  <p>
    法務省入国管理局様により<br>
    平成２９年末現在における在留外国人数について（確定値）
  </p>
  <div class="row">
  <div class="col-xl-6">
    <div class="content-box">
      <p class="mb0">
        在留カード等上の国籍・地域別<br>
        第１表，第３表，第１－２図，第３図－
      </p>
    </div>

    <p class="mh100">
      上位１０か国・地域のうち，ベトナム，ネパール及びインドネシアの増加が顕著であり，ベトナムはフィリピンを抜いて３位となっています。 　
    </p>

    <div class="content-box custom">
      <div class="item">
        <span>(1)　中国</span>
        <span>７３０，８９０人 (構成比２８．５％) (＋５．１％)</span>
      </div>
      <div class="item">
        <span>(2)　韓国</span>
        <span> ４５０，６６３人 (構成比１７．６％) (－０．５％)</span>
      </div>

      <div class="item">
        <span>(3)　ベトナム</span>
        <span>２６２，４０５人 (構成比１０．２％) (＋３１．２％)</span>
      </div>

      <div class="item">
        <span>(4)　フィリピン</span>
        <span>２６０，５５３人 (構成比１０．２％) (＋６．９％)</span>
      </div>

      <div class="item">
        <span>(5)　ブラジル</span>
        <span>１９１，３６２人 (構成比　７．５％) (＋５．８％)</span>
      </div>

      <div class="item">
        <span>(6)　ネパール</span>
        <span>８０，０３８人 (構成比　３．１％) (＋１８．６％)</span>
      </div>

      <div class="item">
        <span>(10) インドネシア</span>
        <span>４９，９８２人 (構成比　２．０％) (＋１６．６％)</span>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="content-box">
      <p class="mb0">
        在留カード等上の国籍・地域別<br>
        第１表，第３表，第１－２図，第３図－
      </p>
    </div>

    <p class="mh100">
      平成２７年４月に新設された高度専門職（同１号イ，ロ及びハ並びに同２号）は７，６６８人（対前年末比３，９２９人（１０５．１％）増）となり，大幅に増加しています。
    </p>

    <div class="content-box custom">
      <div class="item">
        <span>(1)  永住者 </span>
        <span>７４９，１９１人 (構成比 ２９．２％)  (＋３．０％)</span>
      </div>
      <div class="item">
        <span>(2)  特別永住者</span>
        <span>３２９，８２２人 (構成比１２．９％)  (－２．７％)</span>
      </div>
      <div class="item">
        <span>
          (3)  留学
        </span>
        <span>３１１，５０５人 (構成比１２．２％)  (＋１２．３％)</span>
      </div>
      <div class="item">
        <span>(4)  技能実習</span>
        <span>２７４，２３３人 (構成比 １０．７％)  (＋２０．０％)</span>
      </div>
      <div class="item">
        <span>
          (5)  技術・人文知識・国際業務
        </span>
        <span>１８９，２７３人 (構成比　７．４％)  (＋１７．５％)</span>
      </div>
      <div class="item">
        <span>(15)高度専門職</span>
        <span>７，６６８人 (構成比 　０．３％)  (＋１０５．１％)</span>
      </div>
    </div>
  </div>
  </div>

  <p>
    弊社は外国人、おもにベトナム人を中心に人材紹介を行っております。上記のデーターのとおり、現在日本にいる外国人の中でその中でもベトナム人は上位3位にいます。全国でもベトナム人の<br>
    ほか、外国人を募集している企業達は少なくありません。日本で働くベトナム人の方は、日本に対する理解、日本企業で働くことはどういうことか、マナーや日本の文化についても<br>
    理解を深めている方々です。こういった方々を採用する際、ビジネスマナーなどを教えたりするといった教育コストは、あまりかからないと思われます。また、日本人とベトナム人は性格が<br>
    似ていると言われています。そういったところでもストレスなく働いていけます。<br>
    また、弊社は優秀なエンジニアたちも備えております。日本語能力はもちろん学んできた知識・技術をうまく発揮できるような人材を紹介します。<br>
    それではなく、会社の一員として責任をもち、うまくチームワークを築けていけるような、そんな人たちを紹介します。<br>
    お客様のニーズにお応えできるよう慎重に人材を選考し責任をもって紹介いたしますのでご安心ください。
  </p>

  <div class="row">
    <h3 class="accent-color">
      外国人採用の流れ
    </h3>

    <div class="content-box-wrapper d-flex">
      <div class="content-box-2">
        <p class="mb0 text-center">
           企業様からのご依頼
          （必要な人材、人数、時期、条件などを確認。）
        </p>
      </div>

      <div class="content-box-2">
        <p class="mb0 text-center">
            募集と人選を開始します。応募者が見つかるまでの日数は、難易度にもよりますが数日から数カ月を要します。
        </p>
      </div>

      <div class="content-box-2">
        <p class="mb0 text-center">
          ニーズに合った応募者が見つかりましたら　プロフィールを書面でお見せします。
        </p>
      </div>
    </div>

    <div class="content-box-wrapper d-flex mt30">
        <div class="content-box-2">
          <p class="mb0 text-center">
              面談に先立って、弊社と取引契約、秘密保持契約の締結をいただきます。
          </p>
        </div>

        <div class="content-box-2">
          <p class="mb0 text-center">
               企業様 + J-V CONNECTIONにて面接、採用（SKYPE, LINE等でも対応いたします。）
          </p>
        </div>

        <div class="content-box-2">
          <p class="mb0 text-center">
               お客様と応募者の間で、雇用契約を締結していただきます。
          </p>
        </div>
    </div>

    <div class="content-box-wrapper d-flex mt30">
        <div class="content-box-2">
          <p class="mb0 text-center">
               VISA申請書類作成、申請
              (約1ヶ月。3カ月以上かかることも稀にあります。)
          </p>
        </div>

        <div class="content-box-2">
          <p class="mb0 text-center">
            入国・入社
            ビザが下りれば入社の準備を早急に進めます
          </p>
        </div>

        <div class="content-box-2">
          <p class="mb0 text-center">
            人材紹介の手数料を、お支払いただきます。
          </p>
        </div>
    </div>
  </div>
  <div class="row">
    <h3 class="accent-color mt30">
    面接の雰囲気
  </h3>
    <div class="grid d-flex flex-wrap">
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/7.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/8.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/2.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/3.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/4.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/1.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/5.jpg" %></div>
      <div class="grid-item col-md-3"><%= image_tag  "recruitment/6.jpg" %></div>
    </div>
  </div>

</div>

<%= render "/shared/contact_us"%>
