<%= render partial: "shared/page_header", locals: { title: '留学' } %>
<div class="container specific_skills mt50">
		<div class="row">
			<div class="col-md-9">
				<h3 class="accent-color">外国人留学は日本で働くために必要なビザ　（在留資格）</h3>
        <p>日本に在留する外国人は、全部で27種類ある在留資格ごとに決められた範囲でのみ活動（仕事）することができます。日本の大学・大学院で学んでいる留学生が日本で就職して働くためには、留学ビザ（在留資格）から就労ビザへ在留資格の変更許可を申請しなければなりません。一般的には「留学」から「人文知識・国際業務」や「技術」などの資格に変更することになります。</p>
			</div>

			<div class="col-md-3">
				<%= image_tag "study_abroad/study_abroad.jpg" %>
			</div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "study_abroad/interview.png" %>
			</div>
			<div class="col-md-9">
				<h3 class="accent-color">留学生の内定後、会社に入社するまでに在留資格の変更が必要</h3>
        <p>
					留学生は「留学」の在留資格を「技術・人文知識・
					<br/>
					国際業務」など就労の在留資格に変更しなければ、
					<br/>
					日本で働くことができません。在留資格変更許可
					<br/>
					申請書と必要な書類一式を留学生の住んでいる地
					<br/>
					域（留学生の住民票がある地域）を管轄する入国
					<br/>
					管理局・支局に申請します。原則、留学生本人が
					<br/>
					入国管理局に出向いて申請します。
					<br/>
					新卒者が４月から就職できるように、入国管理局では例年１２月から受け付けています。
					<br/>
					４月までに結果が出るよう、早めに申請してください。
					<br/>
					申請後は、原則２カ月以内に結果が通知されます。
					<br/>
					許可されれば本人あてに通知書と書かれたハガキが郵送されます。
					<br/>
					卒業後に入国管理局に通知書、卒業証書、パスポート、在留カード、４，０００円（収入印紙代）を持参し、在留資格の変更が許可されます。
					<br/>
					許可されなければ、不許可の理由が書かれた通知書が茶封筒で郵送されます。その場合、４，０００円の収入印紙代は不要です。
				</p>
			</div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-md-8">
				<h3 class="accent-color">法務省入国管理局の審査は</h3>
        <p>
					入国管理局では入管法や省令（ガイドライン）に基づき、留学生と会社の両方を審査します。
					<br/><br/>
					留学生は、就労の在留資格にふさわしい学歴要件があるか、実務経験などの経験・年数があるか（経歴の要件）、学校の専攻科目と会社での従事業務に関連性があるか（活動内容・従事業務の要件）、日本人と同等以上の給料を得ているか（報酬の要件）などが審査されます。
					<br/><br/>
					雇用する会社についても、適正な事業を行っているか、許認可が必要な事業の場合は、許認可を得ているか（事業の適正性）、今後も事業活動を安定・継続して行うことができるか（安定性・継続性）、その外国人を雇用する必要性などが審査されます。
				</p>
			</div>

			<div class="col-md-4">
				<%= image_tag "study_abroad/administration_of_imamigration.jpg" %>
			</div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "study_abroad/notice.jpg" %>
			</div>
			<div class="col-md-9">
				<h3 class="accent-color">就労の「在留資格」の活動内容と許可基準は	</h3>
        <p>
					入管法では、どのような業務内容（就労活動）がどの在留資格に該当するか、また、許可に関する基準などを定めています。中でも次の点は特に重要です。
					<br/><br/>
					１）外国人が会社で行う活動が「技術・人文知識・国際業務」などの業務に該当すること（専門的・技術的な業務であること。
					<br/><br/>
					２）外国人が大学・専門学校（専門士）の卒業証書を持っていること（または卒業見込証明書）。大学・専門学校の専攻内容と、従事する業務が関連すること。または語学など外国文化に基盤を持つ思考・感受性を要する業務であること。
					<br/><br/>
					さらに、次の基準を満たしていることも欠かせません。
					<br/><br/>
					・従事予定の業務が、外国人本人の持つ知識・技術などを活かせるものか。
					<br/><br/>
					・（同じ仕事をする）日本人と同等以上の給料が支給されるか（処遇、雇用契約の内容）
					<br/><br/>
					・勤務先の事業の安定性・継続性、規模、事業内容、雇用の必要性
					<br/><br/>
					勤務先は外国人従業員を雇う会社として、経営の安定性・継続性が見込まれ、本人の専門知識・技術などを活かすことができる業務が、実際に提供されるか、などが審査されます。
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h3 class="accent-color">外国人と勤務先の会社が作成・準備する書類	</h3>
        <p>
					在留資格の変更手続きでは、本人・会社のどちらも書類を作成・準備することが必要です。
					<br/>
					<strong>【本人が準備する提出書類】</strong>
					<br/>
					①在留資格変更許可申請書（申請人等作成用１、２）、顔写真…１部
					<br/><br/>
					②パスポート（旅券）、在留カード…入管で提示
					<br/><br/>
					③履歴書…１部
					<br/><br/>
					④卒業証明書（または卒業見込証明書）、必要な場合は成績証明書…１部
					<br/><br/>
					⑤申請理由書…適宜
					<br/><br/>
					<strong>【会社が準備する提出書類】</strong>
					<br/>
					①在留資格変更許可申請書（所属機関等作成用１、２）…１部
					<br/><br/>
					②雇用契約書または採用内定通知書（職務内容、雇用期間、地位、報酬などを明記）…１部
					<br/><br/>
					③法人登記事項証明（発行後３カ月以内のもの）…１部
					<br/><br/>
					④決算報告書（損益計算書）…１部
					<br/><br/>
					⑤給与所得の源泉徴収票等の法定調書合計表（税務署受理印のある写し）
					<br/><br/>
					⑥会社案内…１部
					<br/><br/>
					⑦雇用理由書…適宜
					<br/><br/>
					なお個々の案件によっては別途「その他参考となるべき資料」の提出が必要な場合があります。
				</p>
			</div>

			<div class="col-md-5">
				<%= image_tag "study_abroad/cv.jpg" %>
			</div>
		</div>
	</div>
</div>

<%= render "/shared/contact_us"%>
