<div class="new-comment-form pt30" data-aos="fade-up">
     <h3 class="ml15 accent-color"><%= t ".title" %></h3>

     <%= form_for [ @post, @comment ],
        :html => {class: 'comment-form' } do |f| %>
        <div class="form-group col-md-6">
            <%= f.label :user_name, (t ".name") %>
            <%= f.text_field :user_name, class: "form-control" %>
        </div>

         <div class="form-group col-md-6">
            <%= f.label :email, (t ".email") %>
            <%= f.text_field :email,type: "email", class: "form-control" %>
         </div>

         <div class="form-group col-md-12">
             <%= f.label :content, (t ".comment") %>
             <%= f.text_area :content, class: "form-control" %>
         </div>

         <div class="form-group col-md-12">
             <input type="checkbox" id="rememberMe">
             <label for="rememberMe">
                <%= t ".remember" %>
             </label>
         </div>

          <div class="form-group ml10">
             <%= f.submit (t ".submit"), class: 'button' %>
         </div>
    <% end %>
 </div>
