<div class="job-lists">
    <% jobs.each do |job| %>
        <div class="job-item">
            <div class="job-detail">
                <h4>
                <%= link_to job do %>
                    <%= job.title %>
                <% end %>
                </h4>
                <p class="mb0">
                    <span class="mr10">
                        <i class="fa fa-map-marker mr5"></i>
                        <%= job.place %>
                    </span>
                    <span>
                        <i class="fa fa-group mr5"></i>
                        <%= job.quantity %>
                    </span>
                </p>
            </div>
            <div class="job-feature">
                <p class="mb0">
                    <strong class="mr5">給料:</strong>
                     <%= job.salary %>
                </p>

                <p class="mb0">
                    <strong class="mr5">募集期間:</strong>
                    <%= job.start_date.strftime("%Y/%m/%d") %>
                    -
                    <%= job.end_date.strftime("%Y/%m/%d") %>
                </p>
                
            </div>

            <div class="actions">
                <%= link_to 'Read more', job, class: 'button button-small button-primary button-border' %>
            </div>
        </div>
    <% end %>
</div>
