<div class="container gf-job-detail">
  <h3 class="mt50 mb10"><%= @job.title %></h3>
	<div class="row">
    <div class="col-md-8 gf-job-detail">
      <ul class="gf-post-meta list-inline">
				<li class="meta-date">
					<%= @job.start_date.strftime("%Y-%m-%d") %> ~ <%= @job.end_date.strftime("%Y-%m-%d") %>
				</li>
			</ul>
      <div class="clearfix gf-entry-content">
        <%= raw @job.content %>
      </div>
      <div class="social-share-wrapper d-flex">
        <p>Share this: </p>
        <%= social_share_button_tag(@job.title) %>
      </div>
    </div>
      <div class="col-md-4">
        <div class="gf-job-meta list-inline">
          <div>
            <i class="fa fa-group mr5"></i>
            <strong>
              <%= @job.quantity %>
            </strong>
          </div>
          <div>
            <i class="fa fa-map-marker mr5"></i>
            <strong>
              <%= @job.place %>
            </strong>
          </div>
          <div>
            <i class="fa fa-money mr5"></i>
            <strong>
              <%= @job.salary %>
            </strong>
          </div>
          <div>
            <i class="fa fa-calendar mr5"></i>
            <strong>
              <%= @job.start_date.strftime("%Y/%m/%d") %>
            </strong>
          </div>
        </div>
      </div>
  </div>
</div>
