<div class="container gf-job-detail">
  <div  class="job-title">
  <h3 class="mb0"><%= @job.title %></h3>
  </div>
  <div class="separator"></div>
	<div class="row">
    <div class="col-lg-8 gf-job-detail">
      <div class="clearfix gf-entry-content">
        <%= raw @job.content %>
      </div>

      <% if @job.job_comments.count > 0 %>
				<div class="comment-wrapper">
					<h3>
						<%= t ".comments" %>
					</h3>
					<%= render partial: "comment", locals: {comments: @job_comments} %>
					<%= paginate @job_comments %>
				</div>
			<% end %>

      <div class="gf-post-comments">
				<%= render partial: "job_comments/form" %>
			</div>

    </div>
      <div class="col-lg-4">
        <div class="gf-job-meta list-inline">
          <div>
            <p><i class="fa fa-group mr5"></i>採用予定数</p>
            <span>
              <%= @job.quantity %>
            </span>
          </div>
          <div>
            <p><i class="fa fa-map-marker mr5"></i>勤務地</p>
            <span>
              <%=@job.place %>
            </span>
          </div>
          <div>
          <p><i class="fa fa-money mr5"></i>給与</p>
            <span>
              <%= @job.salary %>
            </span>
          </div>
          <div>
            <p><i class="fa fa-calendar mr5"></i> Thời gian nạp hồ sơ</p>
            <span>
              <%= @job.start_date.strftime("%Y-%m-%d") %> - <%= @job.end_date.strftime("%Y-%m-%d") %>
            </span>
          </div>
          <div class="social-share-wrapper">
            <p><i class="fa fa-share-alt"></i>Chia sẻ công việc </p>
            <%= social_share_button_tag(@job.title) %>
          </div>
        </div>
      </div>
  </div>
</div>
