<div class="container gf-job-detail">
  <div class="job-title">
    <h3 class="mb0"><%= @job.title %></h3>
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-lg-8 gf-job-detail">
      <div class="job-detail-content">
        <div class="mb40">
          <h5>職種</h5>
          <div class="ml30">
            <%= raw @job.content %>
          </div>
        </div>

        <div class="mb40">
          <h5>勤務先</h5>
          <div class="ml30">
            <%= @job.place %>
          </div>
        </div>

        <div class="mb40">
          <h5>勤務時間</h5>
          <div class="ml30">
            <%= @job.working_hours %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>給与</h5>
          <div class="ml30">
            <%= @job.salary %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>手当</h5>
          <div class="ml30">
            <%= raw @job.allowance %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>昇給</h5>
          <div class="ml30">
            <%= @job.salary_raise %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>休日</h5>
          <div class="ml30">
            <%= @job.holiday %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>休暇</h5>
          <div class="ml30">
            <%= @job.vacation %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>社会保険</h5>
          <div class="ml30">
            <%= raw @job.social_insurance %>
          </div>
        </div>
        
        <div class="mb40">
          <h5>福利厚生</h5>
          <div class="ml30">
            <%= raw @job.welfare %>
          </div>
        </div>

        <div class="mb40">
          <h5>提出書類</h5>
          <div class="ml30">
            <%= raw @job.documents %>
          </div>
        </div>
        
      </div>

      <% if @job.job_comments.count > 0 %>
      <div class="comment-wrappe accent-color">
        <h3>
          <%= t ".comments" %>
        </h3>
        <%= render partial: "comment", locals: {comments: @job_comments} %>
        <%= paginate @job_comments %>
      </div>
      <% end %>

      <div class="gf-post-comments">
        <%= render partial: "job_comments/form" %>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="gf-job-meta list-inline">
        <div>
          <p><i class="fa fa-group mr5"></i>採用予定数</p>
          <span>
            <%= @job.quantity %>
          </span>
        </div>
        <div>
          <p><i class="fa fa-map-marker mr5"></i>勤務地</p>
          <span>
            <%=@job.place %>
          </span>
        </div>
        <div>
          <p><i class="fa fa-money mr5"></i>給与</p>
          <span>
            <%= @job.salary %>
          </span>
        </div>
        <div>
          <p><i class="fa fa-calendar mr5"></i> 履歴書提出期限</p>
          <span>
            <%= @job.start_date.strftime("%Y/%m/%d") %> - <%= @job.end_date.strftime("%Y/%m/%d") %>
          </span>
        </div>
        <div class="social-share-wrapper">
          <p><i class="fa fa-share-alt"></i>情報共有 </p>
          <%= social_share_button_tag(@job.title) %>
        </div>
      </div>
    </div>
  </div>
</div>
