<div data-aos="fade-up" class="contract-wrapper">
  <%= form_for [:admins, @candidate], {class: "form-horizontal", id: "form-contact"} do |f| %>
    <div class="gf-heading">
      <h2 class="heading-title accent-color"><%= t ".title"%></h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
          <div class="form-group">
            <%= f.label :name, t(".name"), class: "control-label required" %>
            <%= f.text_field :name, class: 'form-control', id: "input-name" %>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
          <div class="form-group">
            <%= f.label :email, t(".email"), class: "control-label required" %>
            <%= f.email_field :email, class: 'form-control', id: "input-email" %>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
          <div class="form-group">
            <%= f.label :phone_number, t(".phone_number"), class: "control-label required" %>
            <%= f.text_field :phone_number, class: 'form-control', id: "input-phone" %>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
          <div class="form-group">
            <%= f.label :company_name, t(".company_name"), class: "control-label" %>
            <%= f.text_field :company_name, class: 'form-control', id: "input-phone" %>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <div class="form-group">
            <%= f.label :content, t(".content"), class: "control-label required" %>
            <%= f.text_area :content, rows: 5, class: 'form-control', id: "input-review" %>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="text-center">
        <%= f.submit t(".contact"), class: "button button-large btn btn-primary", id: "button-put" %>
      </div>
    </div>
  <% end %>
  <div id="messeger"></div>
</div>
