<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admins, @post] do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %><br>
      <%= f.cktext_area :content, ckeditor: { language: 'us'} %>

      <%= f.check_box :publish_status, {}, :publish, :unpublish %>
      <%= f.label :publish %><br>

      <%= f.label :image %><br>
      <%= f.file_field :image %><br>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
