<%= form_for [:admins, @job] do |f| %>
  <%= render "admins/shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :title, t(".title"), class: "col-form-label  required" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, t(".quantity"), class: "col-form-label  required" %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :place, t(".place"), class: "col-form-label  required" %>
    <%= f.text_field :place, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :salary, t(".salary"), class: "col-form-label  required" %>
    <%= f.text_field :salary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".content"), class: "col-form-label  required" %>
    <%= f.cktext_area :content, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".working_hours"), class: "col-form-label  required" %>
    <%= f.text_field :working_hours, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :title, t(".salary_raise"), class: "col-form-label  required" %>
    <%= f.text_field :salary_raise, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".allowance"), class: "col-form-label  required" %>
    <%= f.cktext_area :allowance, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".welfare"), class: "col-form-label  required" %>
    <%= f.cktext_area :welfare, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".documents"), class: "col-form-label  required" %>
    <%= f.cktext_area :documents, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".social_insurance"), class: "col-form-label  required" %>
    <%= f.cktext_area :social_insurance, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".holiday"), class: "col-form-label  required" %>
    <%= f.text_field :holiday, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".vacation"), class: "col-form-label  required" %>
    <%= f.text_field :vacation, class: 'form-control' %>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
    <%= f.label :start_date, t(".start_date"), class: "col-form-label  required" %>
    <%= f.date_field :start_date, class: 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= f.label :end_date, t(".end_date"), class: "col-form-label  required" %>
    <%= f.date_field :end_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>
<% end %>
