<%= form_for [:admins, @job] do |f| %>
  <%= render "admins/shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :title, t(".title"), class: "col-form-label  required" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, t(".quantity"), class: "col-form-label  required" %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :place, t(".place"), class: "col-form-label  required" %>
    <%= f.text_field :place, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :salary, t(".salary"), class: "col-form-label  required" %>
    <%= f.text_field :salary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".company_name"), class: "col-form-label  required" %>
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".industry"), class: "col-form-label  required" %>
    <%= f.text_field :job_title, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :title, t(".recruiment_type"), class: "col-form-label  required" %>
    <%= f.text_field :recruiment_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".benefit"), class: "col-form-label  required" %>
    <%= f.cktext_area :job_benefit, ckeditor: { language: 'us'} %>
  </div>

  <div class="form-group">
    <%= f.label :title, t(".requirement"), class: "col-form-label  required" %>
    <%= f.cktext_area :job_requirement, ckeditor: { language: 'us'} %>
  </div>

    <div class="form-group">
    <%= f.label :title, t(".cv_info"), class: "col-form-label  required" %>
    <%= f.text_field :cv_content, class: 'form-control' %>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
    <%= f.label :start_date, t(".start_date"), class: "col-form-label  required" %>
    <%= f.date_field :start_date, class: 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= f.label :end_date, t(".end_date"), class: "col-form-label  required" %>
    <%= f.date_field :end_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>
<% end %>
