<div class="row">
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <%= link_to new_admins_admin_path, class: "btn btn-outline-primary" do %>
          <span class="fa fa-plus-circle"></span>
          <%= t ".create" %>
        <% end %>
        <br><br>
        <div class="single-table">
          <div class="table-responsive">
            <table class="table table-hover progress-table text-center">
              <thead class="text-uppercase">
                <tr>
                  <th scope="col"><%= t ".id" %></th>
                  <th scope="col"><%= t ".name" %></th>
                  <th scope="col"><%= t ".email" %></th>
                  <th scope="col"><%= t ".role" %></th>
                  <th scope="col"><%= t ".action" %></th>
                </tr>
              </thead>
              <tbody>
                <% @admins.each do |admin| %>
                  <tr>
                    <th scope="row"><%= admin.id %></th>
                    <td class="no-wrap"><%= admin.name %></td>
                    <td class="no-wrap"><%= admin.email %></td>
                    <td class="no-wrap"><%= admin.role %></td>
                    <td>
                      <div class="btn-align-center no-wrap">
                        <% if admin == current_admin %>
                          <%= link_to edit_admins_admin_path(admin), class: "btn btn-outline-primary btn-xs mb-3 mr-1" do %>
                            <span class="fa fa-edit"></span>
                          <% end %>
                        <% end %>

                        <% if current_admin.manager? && current_admin != admin %>
                          <%= link_to admins_admin_path(admin), method: :delete, class: "btn btn-outline-danger btn-xs mb-3 mr-1" do %>
                            <span class="fa fa-trash-o"></span>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mt30">
          <%= paginate @admins %>
        </div>
      </div>
    </div>
  </div>
</div>
