<% comments.each do |comment| %>
	<div class="comment-item">
		<div class="gf-comment-inner clearfix">
			<div class="comment-avatar">
				<%= image_tag("user.png", :alt => "user-image") %>
				<div>
					<h5 class="mb0"><%= comment.user_name %></h5>
					<span class="meta-date">
						<%= comment.created_at.strftime("%Y-%m-%d") %>
						at <%= comment.created_at.strftime("%I:%M%p") %>
					</span>
				</div>
			</div>
			<div class="gf-comment-content">
				<p class="mb0">
					<%= comment.content %>
				</p>
			</div>
		</div>
	</div>
<% end %>
