<div class="container gf-post-detail">
	<div class="row">
		<h3 class="mt50 mb10 accent-color"><%= @post.title %></h3>
		<div class="gf-post-detail">
			<ul class="gf-post-meta list-inline">
				<li class="meta-date">
					<%= @post.created_at.strftime("%Y-%m-%d") %>
				</li>
				<li><%= @comments.count %> comments</li>
			</ul>
			<% if @post.image.url != "fallback/default.jpg" %>
				<%= image_tag @post.image.url, class: "post-image mb10" %>
			<% end %>

			<div class="clearfix gf-entry-content">
				<%= raw @post.content %>
			</div>

			<div class="social-share-wrapper d-flex">
				<p>
					<%= t ".share" %>
				</p>
				<%= social_share_button_tag(@post.title) %>
			</div>

			<div class="recent-posts mt30">
				<h3 class="ml15 accent-color">
					<%= t ".recent_posts" %>
				</h3>
				<div class="blog-grid">
					<%= render partial: "shared/post", locals: {posts: @recent_posts} %>
				</div>
			</div>
			<% if @post.comments.count > 0 %>
				<div class="comment-wrapper">
					<h3>
						<%= t ".comments" %>
					</h3>
					<%= render partial: "comment", locals: {comments: @comments} %>
					<%= paginate @comments %>
				</div>
			<% end %>

			<div class="gf-post-comments">
				<%= render partial: "comments/form" %>
			</div>
		</div>
	</div>
</div>
