<footer>
    <!-- <div class="subcribe">
        <div class="container">
        <div class="col-md-4">
            <div class="gf-heading">
                <span class="heading-sub-title">お問い合わせ</span>
                <h2 class="heading-title">メールを受け取る</h2>
            </div>

        </div>
        <div class="col-md-8">
            <div class="d-flex form-wrapper">
                <input class="form-control" type="text" placeholder="メールアドレスを入力してください">
                <button class="button button-large">購読する</button>
            </div>
        </div>
        </div>
    </div> -->

    <div class="footer-content">
        <div class="container">

        <div class="text-center">
            <h3 class="accent-color">株式会社 J-V CONNECTION</h3>
            <div class="content-wrapper">
                <div class="content">
                    <p><strong>住所:</strong> 兵庫県神戸市兵庫区大開通１０丁目２－１６初阪第一ビル3階</p>
                    <p><strong>メール:</strong> <%= Settings.company_info.email %></p>
                    <p><strong>電話番号:</strong> <%= Settings.company_info.mobile_phone %></p>
                </div>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/chuyenvisachuyenviec">
                    <%= image_tag("facebook.png", :alt => "homepage") %>
                </a>
                <a href="#">
                    <%= image_tag("youtube.png", :alt => "homepage") %>
                </a>
                <a href="#">
                    <%= image_tag("skype.png", :alt => "homepage") %>
                </a>
            </div>
        </div>
        <div class="copyright text-center">
            <p>Copyright © 2019 株式会社J-VCONNECTION. All Rights Reserved</p>
        </div>
    </div>

    </div>
</footer>
