<header id="header">
<div class="topbar">
    <div class="container topbar-wrapper d-flex">
        <div class="logo">
            <%= image_tag("logo.png", :alt => "homepage") %>
        </div>
        <div class="information">
            <div>
                    <span class="information-title">お気軽にお問い合わせください。</span>
                    <a class="accent-color" href="tel:0785-31-0291">
                        <i class="fa fa-phone"></i>
                        (+81) 8038391994
                    </a>
            </div>
            <div>
                <button class="button">ログイン</button>
                <button class="button">サインアップ</button>
            </div>
            
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="about.html">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="services.html">会社概要</a>
            <div class="sub-menu">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">事業内容</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">求人情報</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">
                外国人の採用には
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="services.html">
                  <%= image_tag("jp.png", :alt => "homepage") %>
              </a>
              <div class="sub-menu">
                  <a class="dropdown-item" href="portfolio-1-col.html">
                      <%= image_tag("jp.png", :alt => "homepage") %>
                      Vietnamese
                  </a>
                  <a class="dropdown-item" href="portfolio-2-col.html">
                      <%= image_tag("vn.png", :alt => "homepage") %>
                      English
                  </a>
                  <a class="dropdown-item" href="portfolio-3-col.html">
                      <%= image_tag("gb.png", :alt => "homepage") %>
                      日本語
                  </a>
              </div>  
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>