<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <%= image_tag "admin/icon/logo.png"%>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              <%= t ".users" %>

            <% end %>
          </li>

          <li>
            <%= link_to admins_candidates_path do %>
              <i class="fa fa-phone"></i>
              <%= t ".candidates" %>
            <% end %>
          </li>

          <li>
            <%= link_to admins_posts_path do %>
              <i class="fa fa-television"> </i>
              <%= t ".posts" %>
            <% end %>
          </li>

          <li>
            <%= link_to admins_jobs_path do %>
              <i class="fa fa-calendar-check-o"></i>
              <%= t ".jobs" %>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-image"></i>
              <%= t ".slider_images" %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
