<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <%= image_tag "admin/icon/logo.png"%>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-calendar-check-o"></i>
              Users
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              Contact Us
            <% end %>
          </li>

          <li>
            <%= link_to admins_posts_path do %>
              <i class="fa fa-users"></i>
              Posts
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              Recuirtments
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              Users
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
